*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul[class],
ol[class] {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

:root {
    --vv: calc(1vw + 1vh);
    --perspective: 400px;

    --black: #000000;
    --white: #ffffff;
    --gray: #5d5d5d;

    --common-gorizontal-margin: 20px;
    --max-content-width: 1440px;

    --height-header: 50px;
    --width-menu: calc(180px + var(--wrapper-content-padding) * 2 + var(--padding-mobile-menu) * 2)/*calc(100vw - 15%)*/;
    --padding-mobile-menu: 10px;
    --transition-click: 0.3s;
    --animation-language-time: 0.45s;
    --menu-background: rgba(246, 246, 246, 1);
    --body-backround: #f6f6f6;
    --icon-color: #736c6c;

    --title-nav-color: #2e2e2e;
    --title-nav-fz: 15px;

    --active-click-color: #00bd00;

    --background-btn: #acacac;

    --title-wrapper-fz: 14px;
    --wrapper-content-border-white: 1px solid #e5e5e5;
    --wrapper-content-fz: 13px;
    --wrapper-content-padding: 7px;
    --wrapper-content-border: 1px solid #c8c8c8;
    --wrapper-content-background: #f1f1f1;

    --shadow-lang: -3px 3px 3px rgba(0, 0, 0, .2);
    --lang-fz: 28px;

    --flag-width: 27px;
    --flag-height: 27px;
}

body {
    font-family: Tahoma,Verdana,Arial;
    background-color: var(--body-backround);
}

#app {
    overflow-x: hidden;
}
